<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>The DarkRoom</title>
</head>
<body>

    <nav>
        <!-- <div class="logo"><h1>The <span>D</span>ark<span>B</span>ook</h1></div> -->
        <div class="logo">
            <a href="/"><img src="/images/dr-logo.png" alt="" width="70px"></a>
        </div>

        <div class="nav-items">
            <a href="/">Home</a>
            <a href="/compose">Compose</a>
            <a href="/about">About</a>
        </div>
    </nav>

    <video autoplay muted loop id="myVideo">
        <source src="/images/stars.mp4" type="video/mp4">
    </video>
    
