<%- include("partials/header.ejs") %>

<div class="main-container">
    <h1>About</h1>
    <p>
        In the labyrinth of self-discovery, 
        'The DarkRoom' stands as a metaphorical sanctuary—
        a secret garden of introspection. Much like a photographer's 
        darkroom, where latent images come to life in the dance of shadows and light, 
        our platform beckons you to develop the hidden snapshots of your soul. Within these 
        digital walls, explore the art of introspection, as your thoughts and 
        musings become the alchemy that transforms the obscure into the profound.<br> <br>
        This platform is more than a space; it's a metaphorical tapestry where 
        shadows hold the key to unlocking the mysteries within. With each keystroke, 
        you embark on a unique journey—a journey that celebrates the exquisite chiaroscuro of your 
        inner world. <br><br> Welcome to 'The DarkRoom', where the unspoken finds its voice and your 
        narrative unfolds in the captivating dance of shadows and light.
    </p>
</div>

<%- include("partials/footer.ejs") %>